body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;

}


.header {
    position: sticky;

    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px;
}

.nav li {
    margin: 0 20px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
}

.nav a:hover {
    color: #000;
    background-color: #fff;
    border-radius: 5px;
}


.section {
    padding: 100px 20px;
    min-height: 100vh;
    text-align: center;
    backdrop-filter: blur(5px);
    color: #000;
    font-size: 30px;
}

#home {

    background: rgba(0, 0, 0, 0.4);
}

#about {
    background: rgba(255, 255, 255, 0.2);
}

#projects {
    background: rgba(0, 0, 255, 0.2);
}

#contact {
    background: rgba(0, 255, 0, 0.2);
}

.nav.scrolled {
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}